@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    background-color: #F8F9FA;
}


* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

.wa-icon {
    position: fixed;
    height: 7vh;
    left: 2.5vw;
    top: 90vh;
    z-index: 2;
    border: .4vw solid #25D366;
    border-radius: 50%;
    background-color: #25D366;
    cursor: pointer;
}

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9vh;
    left: 0;
    right: 0;
    top: 0;
    background: white;
    z-index: 2;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.left-nav {
    padding-left: 5vw;
}

.logo {
    height: 21vh;
    margin: auto;
    display: block;
}

.middle-nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 3vw;
    margin-right: 8vw;
}

.right-nav {
    display: none;
    width: 50px;
    height: 50px;
}

.navbar a {
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    font-size: 20px;
    padding-bottom: .5vh;
    transition: all .15s ease;
    transition-delay: 0;
    color: black;

}

.navbar a:hover {
    border-bottom: 1px solid #386598;
}


h1 {
    font-size: 3vw;
    line-height: 5vh;
    letter-spacing: 5px;
    margin-bottom: 1.5vh;
    font-weight: 600;
    text-align: center;
    color: #212529;
    background-color: #DEE2E6;
    padding: 3vh 0;

}

.top-section {
    padding-top: 8vh;
}


.slideshow {
    position: relative;
    background-color: #002855;
}

.slideshow img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.mySlides {
    display: none;
}

.title {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: 35%;
    right: 50%;
    transform: translateX(50%);
    transition: all 1.75s ease;
}


.name {
    font-size: 5vw;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    color: #F8F9FA;
    white-space: nowrap;
}

.tagline {
    font-size: 2vw;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: oblique;
    text-align: center;
    color: #F8F9FA;
    display: block;
    white-space: nowrap;

}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 6vw;
    margin: 8vh 10vw;
}

.card {
    border: .5px solid rgb(207, 207, 207);
    border-radius: 15px;
    transition: 250ms;
    padding-bottom: 2vh;
    cursor: pointer;
}

.card:hover {
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.05);
    transform: scale(1.05);
    transition: 250ms;
}

.card img {
    object-fit: contain;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 2vh;
}

.content {
    padding: 0 1.5vw;
}

h2 {
    margin-bottom: 1vh;
    color: #343A40;
    font-size: 22px;
}

p {
    color: #495057;
}

.section-two {
    background-image: url("assets/pexels-pixabay-371917.jpg");
    height: 65vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-two-text {
    position: relative;
    top: 28%;
}

.section-two {
    padding-left: 15vw;
}


.section-two p {
    text-align: left;
    color: #f8f9fa;
    width: 35vw;
}

.section-two h1 {
    text-align: left;
    color: #f8f9fa;
    background: none;
}

.description {
    font-size: 18px;
    margin-bottom: 5vh;
    line-height: 3vh;
    letter-spacing: .02vw;
}

.quote-btn {
    width: max-content;
    padding: 1vh 2vw;
    height: 5vh;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 20px;
    border: 1px solid white;
    background: transparent;
    color: #f8f9fa;
    cursor: pointer;
    transition-timing-function: ease-in;
    transition: color 300ms, background-color 300ms;

}

.quote-btn:hover {
    background-color: #f8f9fa;
    color: #212529;
    transition: 300ms;
}

.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-card img {
    width: 17vw;
    height: 16vw;
    border-radius: 50%;
    margin-bottom: 3vh;
}

.team-card .content {
    text-align: center;
}

.team-card p {
    font-size: 20px;
}

.section-five {
    background-color: #212529;
    padding: 2vh 0;
}

.section-five p {
    color: #F8F9FA;
}

.section-five h1 {
    background-color: transparent;
    color: #F8F9FA;
}

.row-cards {
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 3vh;
    padding: 2vh 20vw 2vh 20vw;
    margin-bottom: 2vh;
}

.row-card {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1vw;
    border-radius: 10px;
    padding-right: 2vw;
}

.cust-img {
    height: 70px;
    border-radius: 50%;
    width: 70px;
    background: transparent;
    display: block;
    object-fit: fill;
    align-self: center;
    margin: 0;
}

.review {
    margin: 1vh 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.review img {
    margin: 0;
    width: 4.5vw;
    object-fit: fill;
    margin-bottom: 1vh;
}

.customer {
    font-weight: 600;
    font-size: 1.3vw;
    margin-bottom: .5vh;
}

.comment {
    font-size: 1.1vw;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 1vw;
}

.small-icon {
    width: 16px;
    height: 20px;
    margin-right: 1vw;
}

.section-three {
    background-color: white;
}

.section-three img {
    width: 60vw;
    display: block;
    margin: 0 auto;
    padding: 1vh 0;
    object-fit: fill;
}

.footer {
    background-color: #212529;
    display: grid;
    grid-template-columns: 1.fr 1fr 1fr 1fr;
    column-gap: 4vw;
    padding: 5vh 10vw;
    color: #F8F9FA;
}

ul {
    font-size: 18px;
    text-align: left;
    color: #cfd0d1;
    padding: 0;
    text-decoration: underline;
}

li {
    list-style-type: none;
    text-align: left;
    padding-left: 1.5vw;
    margin-bottom: 2vh;
    font-size: 16px;
    color: #F8F9FA;
    background-size: 1.75vh;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url('assets/arrow-icon.png');

}


a {
    color: #F8F9FA;
    text-decoration: none;
}


.footer p {
    text-align: left;
    margin-bottom: 2vh;
    font-size: 16px;
    font-weight: 600;
    color: #F8F9FA;

}

.footer .logo {
    width: 10vw;
    height: 20vh;
    margin: 0;
    object-fit: fill;
}

span {
    border-top: .5px solid #DEE2E6;
    grid-column: span 4;
    margin-top: 4vh;
    padding-top: 4vh;
    text-align: center;
}

/** From here styling of About.html begins **/

.image-div {
    position: relative;

}

.bg-image {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 72px;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    color: #F8F9FA;
    white-space: nowrap;
}

.mid-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4vw;
    row-gap: 10vh;
    padding: 8vh 10vw;
    color: #212529;
    line-height: 25px;
    background-color: white;
}

h3 {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

.text {
    font-size: 18px;
    grid-column: span 2;
}

.card2 {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 2vh 3vw;
    background-color: #e1ecf7;
    color: #212529;
}

.card2 .text {
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    color: #212529;

}

.card2 h3 {
    padding-bottom: 1vh;
    margin-bottom: 2vh;
    border-bottom: 1px solid #212529;
}


.bottom-section {
    background-color: #002855;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6vh 14vw 6vh 12vw;
}

.bottom-section p {
    color: #F8F9FA;
    font-size: 24px;
    line-height: 5vh;
}


/** From here styling of services.html begins **/


.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5vw;
    padding: 8vh 10vw;
    row-gap: 5vh;

}

.services img {
    width: 40vw;
    border-radius: 5px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.service p {
    padding: 0;
    padding-right: 5vw;
    font-size: 18px;

}


.service button {
    background-color: #002855;
    border-color: #F8F9FA;
}

/** Starting the styling for contact html**/

.contact-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10vh 0;
    background-color: white;
}

.contact-card1,
.contact-card2,
.contact-card3 {
    background-color: white;
    border-right: 1px solid #495057;
    text-align: center;
    padding: 4vh 10vw;
}

.contact-section p {
    margin: 3vh 0;
    font-size: 18px;
}

.contact-card3 {
    border: none;
}


/** From here we begin the media queries **/


@media(max-width:650px) {

    .right-nav{
        display: inline;
        background-color: black;
    }

    .middle-nav {
        display: none;
        margin-right: 5vw;
        grid-template-columns: auto;
        column-gap: 0vw;
        margin-right: 2vw;
        row-gap: 2vh;
    }

    a {
        font-size: 3.8vw;
    }

    .name {
        font-size: 9vw;
    }

    .tagline {
        font-size: 5vw;
    }

    h1 {
        font-size: 7vw;
    }

    .cards {
        grid-template-columns: 1fr;
        row-gap: 4vh;
        margin: 8vh 20vw;
    }

    .card {
        padding-bottom: 4vh;
    }

    .content {
        padding: 0 3vw;
        text-align: center;

    }

    .section-two p {
        width: 70vw;
        line-height: 3.5vh;
    }

    .quote-btn {
        width: 24vw;
        font-size: 2.5vw;
        padding: 0 1vw;
    }

    .row-cards {
        padding: 2vh 10vw 4vh 10vw;
    }

    .row-card {
        column-gap: 2vw;
    }

    .customer {
        font-size: 3vw;
    }

    .comment {
        font-size: 2.5vw;
    }

    .cust-img {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        align-self: center;

    }

    .review img {
        width: 14vw;
        margin-bottom: .4vh;
    }

    .bottom-section {
        padding: 6vh 5vw 6vh 7vw;
    }

    .bottom-section p {
        font-size: 3.5vw;
    }

    .footer .logo {
        width: 25vw;
    }

    .section-three img {
        width: 85vw;
    }

    .header {
        font-size: 9vw;
    }

    .mid-section {
        grid-template-columns: 1fr;
        row-gap: 3vh;
        padding: 4vh 10vw;
    }

    .text {
        font-size: 4vw;
        grid-column: span 1;
        text-align: center;
        margin-bottom: 2vh;
        line-height: 4.5vh;
    }

    .card2 {
        margin: 2vh 10vw;
    }

    .card2 .text {
        line-height: 4vh;
        font-size: 4vw;
    }

    .card2 h3 {
        font-size: 4.4vw;
    }

    .services {
        padding: 8vh 4vw;
        column-gap: 3vw;
    }

    .services img {
        width: 45vw;
        border-radius: 5px;
        object-fit: fill;
    }

    h2 {
        font-size: 3.8vw;
    }

    .service {
        align-items: flex-start;
    }

    .service p {
        padding: 0;
        font-size: 2.8vw;
        text-align: left;
    }

    .service button {
        display: none;
    }

    .logo {
        width: 22vw;
    }

    .contact-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4vh 0;

    }

    .contact-card1,
    .contact-card2,
    .contact-card3 {
        border-bottom: 1px solid #495057;
        border-right: none;
    }

    .footer {
        grid-template-columns: 1fr;
        row-gap: 2vh;
        padding: 3vh 10vw;
    }

    span {
        grid-column: span 1;
    }

    ul,
    li,
    .footer p {
        text-align: left;
    }
}